@charset "UTF-8";
@import url("index.css");
/* CSS Document */
:root {
	 --primary-color: #CE5B2E;
	 --secondary-color: #679996;
	 --font-color: #595947;
	 --bg-color: #FFF1DC;
	 --shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
	--primary-color: #CE5B2E;
	--secondary-color: #FFF1DC;
	--font-color: #FFF1DC;
	--bg-color: #679996;
	--shadow-color: rgba(250, 239, 237, 0.1);
}

body{
	margin: 0px;
	font-family: Neue Kabel;
	color: var(--font-color);
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
* {box-sizing: border-box;}
/*///////////////master///////////////*/
a{
	text-decoration: none;
	color: var(--font-color);
}
a:hover{
	color: var(--secondary-color);
}
.tab{
	margin-left: 35px;
}
.active{
	color: var(--primary-color);
}
/*///////////////header///////////////*/

#navbar{
	display: flex;
	width: 100%;
	background-color: var(--bg-color);
	justify-content: center;
	align-items: center;
	scroll-behavior: smooth;
}

#titleBlock, #navBlock{
	width: 100%;
	display: flex;
	justify-content: center;
}

#titleBlock{
	flex-direction: column;
}

#navBlock{
	flex-direction: row;
	margin: 50px 0px;
	text-align: center;
}

.unstuck{
	flex-direction: column;
	text-align: center;
	padding: 25px 5% 0px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
	flex-direction: row;
	text-align: left;
	padding: 25px 5%;
	z-index: 99;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

/*///////////////title///////////////*/
#title{
	font-size: 6em;
	font-style: normal;
	font-weight: 500;
	color: var(--primary-color);
	margin: 0 0 0 0;
}

#subtitle{
	font-size: 3em;
	font-weight: 400;
	font-style: italic;
	color: var(--secondary-color);
	margin: 0 0 0 0;
}

h1, h2{
	margin: 0px;
}

h3{
	font-size: 2em;
	font-weight: 600;
	font-style: normal;
	color: var(--secondary-color);
	text-align: center;
	margin: 50px 0px;
}
/*///////////////nav///////////////*/
ol{
	padding: 0px;
	margin: 0px;
}
li{
	font-size: 1.25em;
	font-weight: 600;
	display: inline;
	margin: 0px 25px;
	padding: 0px;
}

/*///////////////poster///////////////*/
.poster{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 50px 0px;
}

.poster img{
	width: 55vh;
}

.poster p{
	padding: 25px;
}

/*///////////////logline///////////////*/
.logline{
	background-color: var(--primary-color);
	margin:0;
	padding: 25 0px;
}
.logline p{
	color:var(--bg-color);
	text-align: center;
	font-size: 3em;
	font-weight: 400;
	font-style: italic;
	padding: 0px 10%;
	margin: 50px 0;
}

/*///////////////trailer///////////////*/
.trailer{
	width: 100%;
	background-color: var(--secondary-color);
}

.trailervid{
	aspect-ratio: 16 / 8.8;
  width: 100%;
	padding: 100px 200px;
}

/*///////////////episodes///////////////*/
.scroll{
	margin: 25px 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	overflow-x: auto;
	min-width: 100%;
}

.episode{
	display: block;
	margin: 0 5px 0px 0px;
	min-width: 40%;
}

.episode img{
	width: 100%
}

.epdescription{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	font-size: 1.5em;
	padding: 10px 20px;
}
.epdescription p{
	margin: 0px 10px;
	font-style: italic;
}

#episodeNum{
	font-size: 3em;
	font-weight: 500;
	font-style: normal;
	color:var(--secondary-color);
	line-height: 90%;
}

.episodes img:hover {
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  cursor: pointer;
}


/*///////////////cast///////////////*/
.cast{
	padding: 100px 0px 0px;
}

.cast h3{
	margin: 0 0 50px;
}

.castmate{
	display:flex;
	align-items: center;
	flex-direction: row;
	background-color: var(--primary-color);
}

.castmate p{
	font-size: 2em;
	padding: 25px;
	color:var(--bg-color);
}

.castimg{
	width:50%;
}

.bold{
	font-weight: 500;
	text-transform: uppercase;
}

/*///////////////characters///////////////*/
.characters{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--font-color);
	padding: 50px 0px;
}

.castcontainer, .casttile {
  position: relative;
  width: 100%;
  max-width: 18vw;
	margin: 12px;
	color: var(--bg-color)
}
.characterimg, .btsimg {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgb(0,0,0, .8);
}

.castcontainer:hover .overlay {
  opacity: 1;
}

.btscontainer:hover .overlay {
  opacity: 1;
}

.bio, .description {
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.description{
	font-size: 1.25em;
	text-align: center;
}
.castname{
	text-align: center;
	font-size: 1.25em;
}

.btscontainer{
	position: relative;
	color: var(--bg-color);
	margin: 8px 8px 0px 0px;
}


/*///////////////filmmakers///////////////*/
.filmmakers{
	display:flex;
	align-items: flex-start;
	flex-direction: row;
	font-size: 1.5em;
	margin: 0 5% 50px;
}

.filmmaker{
	width: 33.33%;
	padding: 0 25px 25px 25px;
}

.filmmakerimg{
	width: 100%;
}

.filmmaker p{
	padding: 0 0 0 15px;
}

/*///////////////director statement///////////////*/

.directorStatement{
	background-color: var(--primary-color);
	margin:0;
	padding: 25px 100px;
}

.directorStatement p{
	color:var(--bg-color);
	font-style: italic;
	text-align: left;
	font-size: 1.5em;
	font-weight: 400;
	padding: 2px 25px 2px;
	hyphens: auto;
}

.directorStatement h3{
	color:var(--bg-color);
	margin: 50px 0 25px;
}

.directing{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 25px 0;
}

.directing img{
	width: 40%;
	height: 40%;
	margin: 0px 25px;
}

/*///////////////bts///////////////*/
.bts{
	margin-left:8px;
}

.bts .row{
	display: flex;
	flex-wrap: wrap;
}

.bts .column{
	flex: 20%;
	max-width: 20%;
}

.bts img{
  vertical-align: middle;
  width: 100%;
}

/*///////////////footer///////////////*/
footer{
	padding: 50px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.copyright{
	font-size:12px;
	padding: 10px;
}
.socials a{
	padding: 10px;
	font-size: 20px;
}
.socials{
	text-align: right;
	width: 50%;
}
.left{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	text-align: left;
}

/*Media Queries*/
@media screen and (max-width: 1200px) {
	.pics{
		width: 100%;
		justify-content: center;
		padding: 25px 0px;
	}
	.bio{
		width: 80%;
		padding: 25px 15px 25px 15px;
	}
}

@media screen and (max-width: 600px) {
	body{
		margin: 0;
	}
	#navbar{
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 30px 2% 15px;
		scroll-behavior: smooth;
	}
	#title{
		font-size:2.5em;
	}
	h2, .nav li, .worktitle{
		font-size:1.2em;
	}
	ol{
		margin: 15px 0px 0px;
	}
	li{
		margin: 0px 0px 0px 20px;
		float: none;
	}
	.works{
		padding: 250px 0px 0px;
	}
	.work{
		padding: 10px 0px;
	}
	.stills img{
		margin: 1px;
		height:100%;
	}
	.about{
		padding: 250px 0px 0px;
	}
	.bio{
		font-size: 1.1em;
	}
	footer{
		margin: 0px 5%;
		padding: 25px 0px 10px;
	}
	.copyright,.theme-switch,.socials i{
			font-size: 1.15em;
	}
}
